-var title = 'Usborne Books and more...';

doctype html
html(lang="en")
  head
    title= title
    
    // CSS Links
    link(href="css/main.css" type="stylesheet")
    
  body
    .container-fluid
    