-var title = 'Fun with Flexbox!';

doctype html
html(lang="en")
  head
    title= title
    
    // CSS Links
    link(href="css/main.css" rel="stylesheet" type="text/css")
    
  body
    .container-flex
      .flex-one
        h1 1
      .flex-two
        h1 2
      .flex-three
        h1 1
    .container-flex
      .flex-four
        h1 3
      .flex-five
        h1 1
      .flex-six
        h1 2
    .container-flex
      .flex-seven
        h1 4
    